<div class="row">
    <div class="col-sm-12">
        <h3>Product Information</h3>
        <hr>
    </div>
    <div class="col-md-6 offset-md-3">
        <div class="form">
            <form action="" enctype="multipart/form-data" [formGroup] = "product_form" (ngSubmit) = "onSubmit()">
                <div class="form-group">
                    <label for="name">Enter Name</label>
                    <input type="text" class="form-control" id="name" formControlName ="name">
                </div>
                <div class="form-group">
                    <label for="price">Enter Price</label>
                    <input type="number" class="form-control" id="price" formControlName ="price">
                </div>
                <div class="form-group">
                    <label for="name">Add Image</label>
                    <input type="file" class="form-control" id="img" (change) ="uploadFile($event)">
                </div>
                <button class="btn my-btn">Save Product</button>
            </form>
        </div>
    </div>
</div>